@import "../../assets/styles/defaultmixin.scss";


.layout-popup {
    padding: 3rem;
    @include max-wt-ht;

    .head {
        @include fontS28B600;
    }

    .p-1 {
        margin-top: 2.5rem;
        color: #3c4858;
        font-size: 20px;
    }

    .home__buttons {
        @include true-false-btn;
        padding-top: 2rem;

        button {
            min-width: 110px;
        }
    }
}